<!DOCTYPE html>
<!--Designed by Oscar Paiz following the Codinglab tutorial-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-expand-alt'></i>
                <div class="logo_name"></div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="../views/profile.html">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>
            <li>
                <a href="../views/curriculum.html">
                    <i class='bx bx-food-menu'></i>
                    <span class="links_name">Hoja de vida</span>
                </a>
                <span class="tooltip">Hoja de vida</span>
            </li>
            <li>
                <a href="../views/study.html">
                    <i class='bx bxs-graduation'></i>
                    <span class="links_name">Estudios</span>
                </a>
                <span class="tooltip">Estudios</span>
            </li>
            <li>
                <a href="../views/experience.html">
                    <i class='bx bx-wrench'></i>
                    <span class="links_name">Experiencia</span>
                </a>
                <span class="tooltip">Experiencia</span>
            </li>
            <li>
                <a href="../views/contact.html">
                    <i class='bx bx-envelope'></i>
                    <span class="links_name">Contacto</span>
                </a>
                <span class="tooltip">Contacto</span>
            </li>

        </ul>
    </div>


    <div class="body_content">
        <div class="text">Bienvenido a mi pagina web!</div>
        <div class="text2">Gracias por ingresar a mi web, en la barra lateral izquierda
            <br> encontraras el contenido de la pagina.</div>
    </div>

    <script src="../js/index.js">
    </script>

</body>

</html>